@CHARSET "UTF-8";
/*게시판*/
button{border:none; cursor: pointer;}
section#board-container{width:600px; margin:50px auto; text-align:center;}
section#board-container h2{margin:10px 0;}
table#tbl-board{width:100%; margin:0 auto; border:1px solid black; border-collapse:collapse; clear:both; }
table#tbl-board th, table#tbl-board td {border:1px solid; padding: 5px 0; text-align:center;} 
a {color:black;}

/*글쓰기버튼*/
#btn-writing{float: right; cursor: pointer; margin-bottom: 20px;}

/*페이지바*/
div#pageBar{margin-top:30px; text-align:center; }
div#pageBar span.cPage{margin-right: 5px;}
div#pageBar a{margin-right: 5px;}

/*게시글 작성/상세보기 테이블*/
#boardInputFrm {margin-bottom:100px; width:600px; height:800px; position: relative; background-image: url("../images/paper.png");background-repeat: no-repeat;background-size: cover;}
#boardInputUpdate {margin-bottom:20px; width:600px; height:800px; position: relative; background-image: url("../images/paper.png");background-repeat: no-repeat;background-size: cover;}
input[name=boardTitle] {margin: 30px; font-size: 30px; text-align: center;}
input[name=boardWriter] {width:130px; font-size: 28px;}
#frmFile {margin: 10px 0 0 30px; text-align: left;}
#frmWriter {text-align: right; font-size: 28px; margin-top: 20px; }
.frmInput {border: none; background-color: transparent;}
#frmEnrollBtn{margin-top:40px; color:white; font-size:15px; outline:none;cursor:pointer; text-align:left; width:150px; height: 150px; background-image: url("../images/ssiling.png");background-repeat: no-repeat;background-size: cover;}
#viewPaper{margin-bottom:20px; width:600px; height:800px; position: relative; background-image: url("../images/paper.png");background-repeat: no-repeat;background-size: cover;}
#viewText {padding:30px 50px; position: absolute;width:500px;height:740px;}
#viewNo, #viewCount {font-size: 15px; text-align: right;}
#viewTitle {font-size: 30px; margin: 30px 0;}
#viewFile {text-align: left; margin-top: 10px;}
#viewWriter {text-align: right; font-size: 28px; margin-top: 20px;}

/* 첨부파일명 표시 관련 */
span#fname {
	position: absolute;
	left: 130px;
	width: 200px;
	background-image: url("../images/paperPart.png");background-repeat: no-repeat;background-size: cover;
}
input[name=delFile] {margin:5px 0 0 20px;}

/* 댓글 관련 */
div.comment-container textarea {margin-top: 20px;}
div.comment-container #btn-insert {
	border-radius:20px;
	border:none;
	width: 60px;
	height: 40px;
	color: white;
	background-color: #f3c01b;
	position: relative;
	top: -20px;
}

/*댓글테이블*/
table#tbl-comment{width:580px; margin:0 auto; border-collapse:collapse; } 
table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
table#tbl-comment tr td:first-of-type {padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
table#tbl-comment sub.comment-date {color:tomato; font-size:10px}
​
table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
table#tbl-comment tr.level2 sub.comment-writer {color:#8e8eff; font-size:14px}
table#tbl-comment tr.level2 sub.comment-date {color:#ff9c8a; font-size:10px}

/*답글관련*/
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-insert2{width:60px; height:23px; color:white; border-radius:15px; background:#f3c01b; position:relative; top:-5px; left:10px;}

/* 삭제버튼관련 */
table#tbl-comment button.btn-delete{background:red; color:white; display:none;}
table#tbl-comment tr:hover button.btn-delete{display:inline;}




