@CHARSET "UTF-8";
* {padding:0; margin:0; font-family: harryFont;}
div {width: 100%;}
section, header, aside, footer {padding:10px 0; font-family: harryFont;}

/********** 전체컨테이너 **********/
div#container	{background-color:#F0F0F0; width:100%; margin:0 auto;}

/********** header **********/
@font-face      {font-family: harryFont; src: url("font/harryFont.ttf");}
header			{background: #00bcd4 url('../images/banner.png') 5% 0/140px no-repeat; height:130px; position:relative; padding:10px 0 0 0;}
header h1 		{margin-left:10px; text-align: center; font-size: 50px; color: white;}

/* 로그인컨테이너 */
header div.login-container{width:150px; position:absolute; right: 0px; top: 10px;}

/* 로그인버튼관련*/
#signup-button{width:60px; height:50px; color:white; position:absolute; top: 14px; right: 15px;}
#login-container a {transition: 0.2s ease-in-out, color 0.2s ease-in-out;color: #e44c65;text-decoration: none;}
#login-container a:hover {color: #e44c65 !important;border-bottom-color: transparent;}
#saveId+label{font-size:12px;font-family:'고딕'}

/* 로그인 성공 후 */
div.login-container table#logged-in{border-spacing:10px;}
div.login-container table#logged-in input[type=button]{border-radius:3px;}

/*로그인 폼관련*/
#signWrap{display: none;background-color: rgba(0, 0, 0, 0.7);width: 100%;height: 100%;z-index: 120;top: 0;margin: 0;position: fixed;}
#wrap {display: none;margin: 0;padding: 0;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);position: fixed;z-index: 130;}
.form-wrap {width: 380px;height: 480px;position: relative;margin: 0 auto;background: #fff;padding: 5px;overflow: hidden;border-radius: 30px;}
.button-wrap {padding: 10px 0 10px 6px;width: 220px;margin:35px auto 15px auto;position: relative;box-shadow: 0 0 600px 9px rgba(252,174,143, 0.7);border-radius: 30px;}
.togglebtn {padding: 8px 25px;cursor: pointer;background: transparent;border: 0;outline: none;position: relative;}
#closeBtn {position: absolute;font-size: 30px;cursor: pointer;background-color: rgba(255, 255, 255, 0.75);outline: 0;top: 15px;left: 350px; border:none;}
#loginBtn{color: white;}
#btn {top: 0;left: 0;position: absolute;width: 110px;height: 100%;background: linear-gradient(to right, #dd4a81, #6858dc);border-radius: 30px;transition: .5s;}
.icons {margin: 10px auto;text-align: center;}
.icons img {width: 80px;cursor: pointer;}
#login.input-group {top: 180px;position: absolute;width: 280px;transition: .5s;}
#register.input-group {top: 140px;position: absolute;width: 280px;transition: .5s;}
#userId{width: 70%;padding: 10px 0;margin: 5px 0;border: none;border-bottom: 1px solid #999;outline: none;background: transparent;}
.input-field {width: 100%;padding: 10px 0;margin: 5px 0;border: none;border-bottom: 1px solid #999;outline: none;background: transparent;}
.submit {width: 85%;padding: 10px 30px;cursor: pointer;display: block;margin: auto;background: linear-gradient(to right, #dd4a81, #6858dc);color: white;border: 0;outline: none;border-radius: 30px;}
.checkbox {margin: 20px 10px 30px 0;}
.form-wrap span {color: #777;font-size: 12px;bottom: 68px;position: absolute;}
#login {left: 50px;}
#register {left: 450px;} 
#findLink{color: #777; font-size:12px;position:absolute;margin: 10px 0 0 210px;}


/* 로그인성공후 */
div.login-container table#logged-in{border-spacing:10px;}
div.login-container table#logged-in input[type=button]{border-radius:3px;}

/*아이디 중복체크*/
#id_check{font-size:12px;display: contents;}

/* 회원수정페이지 */
section#enroll-container {text-align:center; margin-top:100px;}
section#enroll-container form {margin-top:30px;}
section#enroll-container input{margin:5px; }
section#enroll-container table{margin:30px auto;}
section#enroll-container table th {padding:0 10px 0 10px; text-align:right;}
section#enroll-container table td {padding:0 10px; text-align:left;}

/* 메뉴관련스타일 */
header nav {background:#5283de; width:100%; margin-top:40px;}

/* ul태그의 가운데정렬 */
ul.main-nav{
	/* width:80%; */
	display:table;
	padding:0px;
	margin:auto;
}
ul.main-nav li { 
	list-style-type: none; 
	width: 8em; 
	height: 2em;
	float: left; 
	text-align: center; 
	border-left: 1px #00bcd4 solid;
	background-color: #5283de; 
}
ul.main-nav li:last-of-type{border-right:1px #00bcd4 solid;;}
ul.main-nav li a {
	/*a태그의 display기본값은 inline임*/
	/* inline요소의 padding, margin은 제대로 동작하지 않음.(컨텐츠의 시각요소기준으로 제멋대로임	) */
	display: block;
	padding:.5em;
	text-decoration: none;
	color: #292929;
}

/* hover시 배경색 변경 */
ul.main-nav li:hover{
	background-color: #3300ff;
}
ul.main-nav li:hover > a{
	color:#FFF; /* 글자색*/
}




/********** content **********/
section#content	{ background-color:#F5F5F5;  min-height:500px;}

/********** footer **********/
footer			{ background-color:#00bcd4; clear:both; height:75px; text-align:center; padding-top:40px;}

